<!DOCTYPE html>
<html lang="zh-tw" ng-app="app">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="keywords" content="@ViewBag.Keywords" />
    <meta name="description" content="@ViewBag.Description" />
    <meta name="fragment" content="!" />
    @*<meta property="og:site_name" content="mkindergarten" />
        <meta property="og:title" content="萌學園" />
        <meta property="og:description" content="萌學園招生專線：(02)2311-8000 分機：5112" />
        <meta property="og:image" content="http://mkindergarten.ebc.net.tw/images/fb.png" />*@
    <link rel="Shortcut Icon" type="image/ico" href="/Images/ico.ico" />
    <link rel="stylesheet" href="~/Content/cwtexhei.css" />
    @Styles.Render("~/Css/public", "~/Css/gmap")
    <base href="/" />
    <title ng-bind="pageTitle">萌學園幼兒園</title>
</head>
<body data-ajax-status="{{bodyAjaxStatus}}">
    @RenderBody()

    <!-- css3-mediaqueries.js for IE8 or older -->
    <!--[if lt IE 9]>
        <script src="/Scripts/css3-mediaqueries.min.js"></script>
    <![endif]-->

    <script src="https://maps.googleapis.com/maps/api/js"></script>
    @Scripts.Render("~/Scripts/public", "~/Scripts/gmap", "~/Scripts/app")
    @RenderSection("scripts", required: false)
</body>
</html>