<!DOCTYPE html>
<html ng-app="app">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="keywords" content="@ViewBag.Keywords" />
    <meta name="description" content="@ViewBag.Description" />
    @*<meta property="og:site_name" content="mkindergarten" />
        <meta property="og:title" content="萌學園" />
        <meta property="og:description" content="萌學園招生專線：(02)2311-8000 分機：5112" />
        <meta property="og:image" content="http://mkindergarten.ebc.net.tw/images/fb.png" />*@
    <link rel="Shortcut Icon" type="image/ico" href="/Images/ico.ico" />
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/earlyaccess/cwtexhei.css" />
    @Styles.Render("~/Css/public", "~/Css/gmap")
    <base href="/" />
    <title ng-bind="pageTitle"></title>
</head>
<body>
    @RenderBody()

    <!-- css3-mediaqueries.js for IE8 or older -->
    <!--[if lt IE 9]>
        <script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
    <![endif]-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-route.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-sanitize.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-animate.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js"></script>
    @Scripts.Render("~/Scripts/public", "~/Scripts/gmap", "~/Scripts/app")
    @RenderSection("scripts", required: false)
</body>
</html>